<ion-view view-title="Main Screen">
    <ion-content>
        <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
        <h1>Main</h1>
        <div ng-controller="SubheaderAppCtrl" layout="column" flex layout-fill>
            <md-content style="height: 600px;">
                <section>
                    <md-subheader class="md-primary">Livingroom</md-subheader>
                    <md-list layout-padding role="list" class="md-default-theme">
                        <md-list-item class="md-3-line" ng-repeat="message in messages">
                            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                            <div class="md-list-item-text">
                                <h3>{{message.name}}</h3>
                                <h4>{{message.value}}</h4>
                            </div>
                        </md-list-item>
                    </md-list>
                </section>
                <section>
                    <md-subheader class="md-warn">Bathroom</md-subheader>
                    <md-list layout="column" layout-padding>
                        <md-list-item class="md-3-line" ng-repeat="message in messages">
                            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                            <div class="md-list-item-text">
                                <h3>{{message.name}}</h3>
                                <h4>{{message.value}}</h4>
                            </div>
                        </md-list-item>
                    </md-list>
                </section>
                <section>
                    <md-subheader>Bedroom</md-subheader>
                    <md-list layout="column" layout-padding>
                        <md-list-item class="md-3-line" ng-repeat="message in messages">
                            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                            <div class="md-list-item-text">
                                <h3>{{message.name}}</h3>
                                <h4>{{message.value}}</h4>
                            </div>
                        </md-list-item>
                    </md-list>
                </section>
            </md-content>
        </div>
    </ion-content>
</ion-view>



