<ion-view view-title="{{sitemapName}}">
    <ion-content scroll="false">

        <md-content class="md-default-theme" flex layout-fill style="height: 100%">

            <div layout="column" flex class="ng-scope">
                <section>



                    <md-grid-list
                            md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                            md-row-height-gt-md="1:3" md-row-height="6:1"
                            md-gutter="8px" md-gutter-gt-sm="4px">
                        <md-grid-tile ng-repeat="item in sitemapData.items track by $index"
                                      ng-switch="item.type"
                                      md-rowspan="1"
                                      md-colspan="1"
                                      md-colspan-sm="1">



                            <div  data-ng-switch-when="Frame">
                                <md-subheader class="md-primary">{{items.label}}</md-subheader>

                            </div>
                            <div flex layout="row" data-ng-switch-when="Switch" layout="row"
                                 layout-align="space-around center">

                                <div flex="30" layout="row" layout-align="space-around center">
                                    <img ng-src="img/icons/openhab/{{item.icon}}.png" alt="img/icons/openhab/{{item.icon}}.png">
                                </div>
                                <div flex="40" layout="row" layout-align="space-around center">
                                    {{item.label}}
                                </div>
                                <div flex="30" layout="row" layout-align="space-around center">
                                    <md-switch ng-model="item.state" aria-label="Switch 1">
                                    </md-switch>
                                </div>

                            </div>

                            <div flex layout="row" data-ng-switch-when="Text" layout="row"
                                 layout-align="space-around center">

                                <div flex="30" layout="row" layout-align="space-around center">
                                    <img ng-src="img/icons/openhab/{{item.icon}}.png" alt="img/icons/openhab/{{item.icon}}.png">
                                </div>
                                <div flex="40" layout="row" layout-align="space-around center">
                                    {{item.label}}
                                </div>
                                <div flex="30" layout="row" layout-align="space-around center">
                                    {{item.state}}
                                </div>

                            </div>

                            <div flex layout="row" data-ng-switch-when="Group" layout="row"
                                 layout-align="space-around center" ng-click="navigateTo('{{sitemapData.linkedState}}.{{item.linkedPage.id}}')">

                                {{sitemapData.linkedState}} . {{item.linkedPage.id}}
                                <div flex="30" layout="row" layout-align="space-around center">
                                    <img ng-src="img/icons/openhab/{{item.icon}}.png" alt="img/icons/openhab/{{item.icon}}.png">
                                </div>
                                <div flex="40" layout="row" layout-align="space-around center">
                                    {{item.label}}
                                </div>
                                <div flex="30" layout="row" layout-align="space-around center">
                                    <ng-md-icon icon="navigate_next"></ng-md-icon>
                                </div>

                            </div>


                        </md-grid-tile>
                    </md-grid-list>
                    <div ng-repeat-end=""></div>
                </section>

            </div>


        </md-content>
    </ion-content>
</ion-view>



