<ion-view view-title="Settings">
    <ion-content has-bouncing="false">

        <div ng-controller="SettingsCtrl" style="margin-top: 16px;">

            <md-content style="margin: 16px; padding:16px">

                <form name="settingsForm">
                    <h3>Connection</h3>
                    <md-input-container>
                        <label>OpenHAB URL</label>
                        <input  required name="url" ng-model="$storage.url">

                        <div ng-messages="settingsForm.url.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>


                    <h3>Authentication</h3>
                    <md-checkbox ng-model="$storage.BasicAuthentication" aria-label="Enable Authentication">
                        Enable Basic Authentication
                    </md-checkbox>
                    <md-input-container>
                        <label>User Name</label>
                        <input ng-model="$storage.username" ng-disabled="!$storage.BasicAuthentication">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" ng-model="$storage.password"  ng-disabled="!$storage.BasicAuthentication">
                    </md-input-container>
                </form>

            </md-content>
        </div>
    </ion-content>
</ion-view>
