/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Apr-2015, 10:11:22
    Author     : Thomas Jetzinger
*/

.mm-listview li span {
   font-size: 16px;
}
.mm-listview li span small {
    font-size: 12px;
}
.mm-listview li span img {
   border-radius: 50px;
   width: 50px;
   height: 50px;
   margin: -5px 10px -5px -5px;
   float: left;
}

.mm-listview li:after {
    left: 75px !important;
}

.mm-listview li a {
   font-size: 16px;
}
.mm-listview li a small {
    font-size: 12px;
}
.mm-listview li a img {
   border-radius: 25px;
   width: 25px;
   height: 25px;
   margin: -5px 10px -5px -5px;
   float: left;
}
