
.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white; }

.menu{
    display: flex;
    justify-content: space-between ;

}

.menu-sitemap{
    display: flex;
    /*align-items: flex-start;*/
}

.menu-fixed{
    display: flex;
    align-items: flex-end
}